<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="stylesheet.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign-up</title>

</head>

<body>
    <form id="form" class="login">
        <div class="container">
            <h1 class="title">login</h1>
            <p>Please input login credentials</p>
            <br>
            <div class="input-container">
                <label class="label" for="User Name"></label>
                <input type="text" class="input" id="userName" placeholder="User Name">
            </div>
            <br>
            <div class="input-container">
                <label class="label" for="pwd"></label>
                <input type="password" class="input" required placeholder="Password" name="password" id="pwd">
            </div>
            <br>

            <div class="input-container">
                <label class="label" for="email"></label>
                <input type="email" class="input" name="email" required placeholder="E-mail" id="email">
            </div>

            <br>

            <button class="btn">SUBMIT</button>
        </div>
    </form>
    <script src="./index.js"></script>
</body>

</html>
