<div class="d-flex justify-content-between flex-wrap flex-md nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Project</h1>
</div>
<div class="col py-3">
    <div class="row">
        <div class="col">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
                    <li class="breadcrumb-item active">New Project</li>
                </ol>
            </nav>
        </div>
        <div class="col text-end fw-lighter">
            <b>UserId</b>
        </div>
    </div>
</div>
<form action="/add" method="POST" enctype="multipart/form-data">
    <div class="col">
        <label for="file">image</label>
        <input type="file" class="form-control" id="image" name="imageUrl" value="" placeholder="image" required>
    </div>
    <div class="col">
    </div>
    <div class="row form-group mb-4">
        <div class="col">
            <label for="title">title</label>
            <input type="text" class="form-control" id="title" name="title" value="" placeholder="title" required>
        </div>
        <div class="col">
            <label for="category">category</label>
            <select class="form-control form-select" id="category" name="category" value="" placeholder="category"
                required>
                <option value="Building and Civil Engineering Construction">Building and Civil Engineering Construction
                </option>
                <option value="Mechanical Engineering Construction">Mechanical Engineering Construction
                </option>
                <option value="Insulation and Cladding Works">Insulation and Cladding Works
                </option>
                <option value="Importation of Foreign Furniture">Importation of Foreign Furniture
                </option>
                <option value="Fabrication of Local Furniture">Fabrication of Local Furniture
                </option>
                <option value="Provision of Wardrobes">Provision of Wardrobes
                </option>
                <option value="Manpower Training and Supply">Manpower Training and Supply
                </option>
                <option value="Provision of Civil, Mechanical and Electrical Maintenance Works">Provision of Civil,
                    Mechanical and Electrical Maintenance Works
                </option>

            </select>
        </div>
    </div>
    <div class="form-group mb-4">
        <button type="submit" class="btn btn-primary">Add Project</button>
    </div>
</form>